@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display&display=swap");

/*
GENERAL
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* slide 1 background bug (chrome) hack */
  background-color: #001000;
}

/*
VARIABLES
*/

:root {
  /* colors */
  --color-neutral: #fefefe;
  --color-dark: #001900;
  --color-pastel: #edf7ed;
  --color-accent: #499e49;
  --color-shy: #bdc7bd;
  --color-complimentary: #ffb516;
  --color-signal: rgb(240, 84, 53);

  /* gaps */
  --gap: 2rem;

  /* parallax */
  --parallax-depth: 100px;
  --parallax-shift: calc((var(--parallax-depth) * 0.1 * -1));
}

@media only screen and (min-width: 768px) {
  :root {
    /* gaps */
    --gap: 4rem;
  }
}

/*
TYPOGRAPHY
*/

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
}

.monospace {
  font-family: "Courier Prime", monospace;
}

p {
  font-size: 1rem;
}

span.bold {
  font-weight: bold;
}
